# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=localhost;database=essentialmode;userid=root;"
set mysql_connection_string "user=root;database=essentialmode;password=;charset=utf8mb4"
set es_enableCustomData 1
set mysql_slow_query_warning 150
set mysql_debug true
Config.Multichar = true

# These resources will start by default.
ensure mapmanager
ensure chat
ensure sessionmanager
ensure hardcap
ensure rconlog  
start mysql-async
ensure mysql
ensure no_map
ensure point_finger
ensure XGame-Loading-Screen-FiveM
ensure handsup
start oxmysql

#esx essentials
ensure async
ensure cron
start esx_identity
start esx_notify
start esx_textui
start es_extended
start esx_menu_default
start esx_menu_list
start esx_menu_dialog
start esx_multicharacter
start holsterweapon
start ox_inventory
start ox_lib
start dc_loadingscreen
start esx_license
start dc_ads
start esx_ambulancejob
start grab
start esx_garage
start NoCarJack
start esx_mechanicjob
start esx_joblisting
start trew_hud_ui
start esx_basicneeds
start esx_barbershop
start esx_robcashregister
start core_crafting
start mythic_notify
start mythic_progbar
start interact-sound
start esx_lscustom
start esx_allowlist


start removeAllAi
start esx_banking
start esx_animations
start esx_status
start esx_jobs
start esx_skin
start skinchanger
start esx_addonaccount
start esx_addoninventory
start esx_billing
start esx_datastore
start esx_policejob
start esx_society
start esx_clotheshop
start esx_vehicleshop

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "roleplay, cops, quests, buisness"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "root-AQ" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname. This is not usually shown anywhere in listings.
sv_hostname "DreamCity"

# Set your server's Project Name
sets sv_projectName "DreamCity"

# Set your server's Project Description
sets sv_projectDesc "Where your dreams come true!"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Remove the `#` from the below line if you want your server to be listed as 'private' in the server browser.
# Do not edit it if you *do not* want your server listed as 'private'.
# Check the following url for more detailed information about this:
# https://docs.fivem.net/docs/server-manual/server-commands/#sv_master1-newvalue
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

# enable OneSync (required for server-side state awareness)
set onesync on

# Server player slot limit (see https://fivem.net/server-hosting for limits)
sv_maxclients 48

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "1EAB29D38C8C51D6A6505D5DDE963B94"

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey cfxk_1KHHxR1bUjloFIB3fSNss_39GMh7
